/* text color: #434455; */
/* second text color: #2E2F42; */
/* background: #E5E5E5; */
/* second background: #2E2F42; */
*{
    
    box-sizing: border-box;
}

:root{
    --primary-text-color: #434455;
    --secondary-color: #2E2F42;
    --footer-text-color: #E7E9FC;
    --primary-color: #ffffff;
    --btn-secondary-color: #4D5AE5;
    --btn-focus-color:#404BBF;
    --primary-bg-color: #f4F4FD;
    --logo-bg-color:#8E8F99;
    --logo-footer-color:#31D0AA;
    --card-set-gap: 24px;
    --card-set-gap-bottom: 48px
}

body{
    background-color: var(--primary-color);
    color:var(--secondary-color);

    font-family: "Roboto", sans-serif;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

                                /* list */
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.conteiner{
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
    margin: 0 auto;
    
}
                                /* logo */
.logo{
    color: var(--secondary-color);

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    padding-top: 24px;
    padding-bottom: 24px;


    text-transform: uppercase;
    text-decoration: none;
}
.web{
    color: var(--btn-secondary-color);;
}

                                /* site nav */
.site-header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav,.navigation{
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    margin-left: 77px;
}
.site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child){
    margin-right: 40px;
}

.navigation .link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-decoration: none;
}
                                /* auth nav */
.auth-nav{
    display: flex;
    margin-left: auto;
}

                                /* links */
.links{
    display: block;
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.logo:hover, .logo:focus,
.link:hover, .link:focus,
.links:hover, .links:focus{
    color:var(--btn-secondary-color)
}

                                /* hero */
.hero{
    background-color:var(--secondary-color);
    text-align: center;
    padding: 192px 0;
    
}
.overlay{
    height: 603px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(47, 46, 66, 0.7)),
        url(../images/people-office\ 1-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-title{
    color:var(--primary-color);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    width: 492px;
    margin: 0 auto 48px auto;
}
.hero .btn-primary{
    font-size: 16px;
    line-height: 1.18;
    padding: 16px 32px;
    min-width: 170px;
    height: 51px;
}
                                /* button */
.button{
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
}

.btn-all {
    min-width: 69px;
    padding: 8px 16px;
}
.btn-web {
    min-width: 116px;
    padding: 8px 16px;
}
.btn-app {
    min-width: 78px;
    padding: 8px 16px;
}
.btn-design {
    min-width: 101px;
    padding: 8px 16px;
}
.btn-marketing {
    min-width: 126px;
    padding: 8px 16px;
}
.btn-primary{
    background:var(--btn-secondary-color);
    color: var(--primary-color);
    border: 1px solid transparent;
}

.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active{
    background:var(--btn-focus-color);
    color:var(--primary-color)
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
    background: var(--primary-bg-color);
    color:var(--btn-secondary-color);
    border: 1px solid var(--footer-text-color);
}

.btn{    
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.btn .item:not(:last-child),
.goals .item:not(:last-child),
.card-list .item:not(:last-child),
.customer-logo:not(:last-child),
.icon-logo:not(:last-child){
    margin-right: 24px;
}

                                /* section */

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section.no-padding{
    padding-top: 0;
}

.section-title{
    color: var(--secondary-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

.titles{
    display: none;
}
                                    /* goals */
.goals{
    display: flex;
}

.goals .item{
    width: 264px;
}

.goals-icon{
    background-color: var(--primary-bg-color);
    border-radius: 4px;
}

.goals .icon{
    padding: 24px 100px;
    margin: 0;
    width: 100%;
    height: 112px;
}

.card-name, .team-name{
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
}

.section .title{
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.section-text, .work-text{
    color:var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}
                                /* team */

.team{
    background-color: var(--primary-bg-color);
}

.team-name{
    text-align: center;
    margin-top: 0;
}

.team-text{
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 0;

}

.card-content{
    background-color: var(--primary-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px;
}

.card-list{
    display: flex;    
}

.icon-list{
    display: flex;    
    align-items: center;
    justify-content: center;
}

.icon-logo{
    width: 40px;
    height: 40px;
}

.icon-links{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-secondary-color);
    fill: var(--primary-bg-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.customer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.customer-logo{
    width: 168px;
    height: 88px;
    padding: 0;
    margin: 0;
}

.customer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--logo-bg-color);
    border-radius: 4px;
    fill: var(--logo-bg-color);
}

.customer-link:hover,
.customer-link:focus{
    border: 1px solid var(--btn-secondary-color);
    fill: var(--btn-secondary-color)
}

                                /* work */


.subtitle{
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
}

.cards-content{
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    max-width: 360px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.cards-content:hover,
.cards-content:focus{
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: calc(-1 *var(--card-set-gap)
    );
    margin-top: calc(-1 * var(--card-set-gap-bottom));
}

.work > .item{
    flex-basis: calc( 100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap-bottom);
}

.work .link{
    text-decoration: none;

}

                                /* footer */
.footer{
    background-color:var(--secondary-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-list{
    display: flex;
}
.footer-text{
    color: var(--footer-text-color);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin: 16px 0 0 0;
}

.footer .logo{
    color:var(--primary-bg-color);
    padding: 0;
    
}

.footer .logo:hover,
.footer .logo:focus{
    background: var(--secondary-color);
    color:var(--btn-secondary-color)
}

.social-text{
    color: var(--primary-color);

font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-top: 0;
margin-bottom: 16px;
padding: 0;
}

.social-box{
    margin-left: 120px;
}

.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social-logo {
    width: 40px;
    height: 40px;
}

.social-logo:not(:last-child){
    margin-right: 16px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--primary-bg-color) ;
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--logo-footer-color);
}

