/* text color: #434455; */
/* second text color: #2E2F42; */
/* background: #E5E5E5; */
/* second background: #2E2F42; */
:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --footer-text-color: #E7E9FC;
    --btn-primary-color: #ffffff;
    --btn-secondary-color: #4D5AE5;
    --primary-bg-color: #f4F4FD;
}

body{
    background: #E5E5E5;
    color:#2E2F42;

    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

                               /* site header */
.site-header{
    background: #ffffff;
}
                                /* list */
.list{
    list-style: none;
}
                                /* logo */
.logo{
    color: var(--title-text-color);

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none;
}
.web{
    color: #4D5AE5;;
}

                                /* site nav */
.site-nav .link{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}


                                /* links */
.links{
    color: var(--primary-text-color);
font-size: 16px;
line-height: 1.5;
text-decoration: none;
}
.link{
    color: var(--title-text-color);
}
.site-header .logo:hover, .site-header .logo:focus{
    color:var(--btn-secondary-color)
}
.site-header .link:hover, .site-header .link:focus{
    color:var(--btn-secondary-color)
}
.site-header .links:hover, .site-header .links:focus{
    color:var(--btn-secondary-color)
}
                                /* hero */
.hero-title{
    background: #2E2F42;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.1;
}
.hero .button-primary{
    font-size: 16px;
    line-height: 1.18;
}
                                /* button */
button{
    font-family: 'Roboto';
    cursor: pointer;
    letter-spacing: 0.04em;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}
.button-primary{
    background:var(--btn-secondary-color);
    color: var(--btn-primary-color);
}
.button-primary:hover, 
.button-primary:focus{
    background: var(--btn-primary-color);
    color:var(--title-text-color)
}

.button-secondary{
    background: var(--primary-bg-color);
    color:var(--btn-secondary-color)
}
.button-secondary:hover,
.button-secondary:focus{
    background:var(--btn-secondary-color);
    color: var(--btn-primary-color);
}

                                /* section */
.section-title,
.team-title{
    color: var(--title-text-color);

    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
}
.section-title{
    color: var(--title-text-color);

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.section-text{
    color:var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
}
                                /* team */
.team{
    background: var(--primary-bg-color);
}
.team-name{
    color: var(--title-text-color);

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}
.team-text{
    color: var(--primary-text-color);

}
                                /* work */
.work a{
    text-decoration: none;
}
.work-title{
    color: var(--title-text-color);

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.work-text{
    color: var(--primary-text-color);

}
.work .text{
    color: var(--primary-bg-color);
}

                                /* footer */
.footer{
    background: #2E2F42;
}


.footer-text{
    color: var(--footer-text-color);
}

.footer .logo{
    color: #F4F4FD;
}

.footer .logo:hover,
.footer .logo:focus{
    background: var(--btn-primary-color);
    color:var(--title-text-color)
}
