/* text color: #434455; */
/* second text color: #2E2F42; */
/* background: #E5E5E5; */
/* second background: #2E2F42; */
* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #434455;
  --secondary-color: #2e2f42;
  --footer-text-color: #e7e9fc;
  --primary-color: #ffffff;
  --btn-secondary-color: #4d5ae5;
  --btn-focus-color: #404bbf;
  --primary-bg-color: #f4f4fd;
  --logo-bg-color: #8e8f99;
  --logo-footer-color: #31d0aa;
  --card-set-gap: 24px;
  --card-set-gap-bottom: 48px;
  --cubic-time-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-modal-color: #fcfcfc;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);

  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* list */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  margin: 0 auto;
}
/* logo */
.logo {
  color: var(--secondary-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  padding-top: 24px;
  padding-bottom: 24px;

  text-transform: uppercase;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}
.web {
  color: var(--btn-secondary-color);
}

/* site nav */
.site-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav,
.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 77px;
}
.site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child) {
  margin-right: 40px;
}

.link-page {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}
/* auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

/* links */
.links {
  display: block;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.logo:hover,
.logo:focus,
.link-page:hover,
.link-page:focus,
.links:hover,
.links:focus {
  color: var(--btn-secondary-color);
}
.current-page{
    color: var(--btn-secondary-color);
}

.current-page::after{
    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 4px;
    bottom: 0;

    background-color: var(--btn-secondary-color);
    border-radius: 2px;
}

/* hero */
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 192px 0;
}
.overlay {
  height: 603px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(47, 46, 66, 0.7)
    ),
    url(../images/people-office\ 1-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  width: 492px;
  margin: 0 auto 48px auto;
}
.hero .btn-primary {
  font-size: 16px;
  line-height: 1.18;
  padding: 16px 32px;
  min-width: 170px;
  height: 51px;
}
/* button */
.button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;

  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.btn-all {
  min-width: 69px;
  padding: 8px 16px;
}
.btn-web {
  min-width: 116px;
  padding: 8px 16px;
}
.btn-app {
  min-width: 78px;
  padding: 8px 16px;
}
.btn-design {
  min-width: 101px;
  padding: 8px 16px;
}
.btn-marketing {
  min-width: 126px;
  padding: 8px 16px;
}
.btn-primary {
  background-color: var(--btn-secondary-color);
  color: var(--primary-color);
  border: 1px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--btn-focus-color);
  color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--primary-bg-color);
  color: var(--btn-secondary-color);
  border: 1px solid var(--primary-bg-color);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--btn-focus-color);
  color: var(--primary-color);
  border: 1px solid var(--footer-text-color);
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.btn .item:not(:last-child),
.goals .item:not(:last-child),
.card-list .item:not(:last-child),
.customer-logo:not(:last-child),
.icon-logo:not(:last-child) {
  margin-right: 24px;
}

/* section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}

.titles {
  display: none;
}
/* goals */
.goals {
  display: flex;
}

.goals .item {
  width: 264px;
}

.goals-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}

.card-name,
.team-name {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}

.section .title {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-text,
.work-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}
/* team */

.team {
  background-color: var(--primary-bg-color);
}

.team-name {
  text-align: center;
  margin-top: 0;
}

.team-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  padding-bottom: 0;
}

.card-content {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px;
}

.card-list {
  display: flex;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-logo {
  width: 40px;
  height: 40px;
}

.icon-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-secondary-color);
  fill: var(--primary-bg-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.icon-links:hover,
.icon-links:focus {
  background-color: var(--logo-footer-color);
}

.customer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.customer-logo {
  width: 168px;
  height: 88px;
  padding: 0;
  margin: 0;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--logo-bg-color);
  border-radius: 4px;
  fill: var(--logo-bg-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--btn-secondary-color);
  fill: var(--btn-secondary-color);
}

/* work */

.subtitle {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}

.cards-content {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 360px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.link-cards:hover,
.link-cards:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap-bottom));
}

.work > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap-bottom);
}

.work .link {
  text-decoration: none;
}

.cards-thumb{
    position: relative;
    overflow: hidden;

}

.link-cards{
    display: block;

}


.overlay-cards{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--btn-secondary-color);

    transition-property:transform, opacity;
    transform: translateY(101%);
    transition: transform 250ms var(--cubic-time-bezier);
}

.overlay-text {
    color: var(--primary-bg-color);
    padding: 40px 32px;
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-cards:hover .overlay-cards,
.link-cards:focus .overlay-cards{
    transform: translateY(0);
    opacity: 1;
}

/* footer */
.footer {
  background-color: var(--secondary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-list {
  display: flex;
}
.footer-text {
  color: var(--footer-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin: 16px 0 0 0;
}

.footer .logo {
  color: var(--primary-bg-color);
  padding: 0;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.footer .logo:hover,
.footer .logo:focus {
  background-color: var(--secondary-color);
  color: var(--btn-secondary-color);
}

.social-text {
  color: var(--primary-color);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
}

.social-box {
  margin-left: 120px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-logo {
  width: 40px;
  height: 40px;
}

.social-logo:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-bg-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--logo-footer-color);
}

/* modal */

.bakdrop.is-hidden {;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.bakdrop {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition-property: visibility, opacity, transform ;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
}

.modal {
  position: absolute;
  min-width: 408px;
  min-height: 576px;
  left: 50%;
  top: 50%;
  transition-property:inherit;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);

  border-radius: 4px;
  background-color: var(--bg-modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-icon {
  position: absolute;

  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--footer-text-color);
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-time-bezier);
  cursor: pointer;
  
}

.btn-icon:hover,
.btn-icon:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: 1px solid rgba( 0, 0, 0, 0);
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

